# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
bower_components/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo